@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #8c744b;
}

#hotels
{
    width: 100vw;
    text-align: center;
}

.create-hotel-div
{
    width: 35%;
    min-width: 200px;
}

.hotel-index-div
{
    margin: 0 auto;
    /*width: 50vw;
    text-align: center;*/
    width: max-content;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #a5a5a5;
    border-radius: 2px;
    background-color: inherit;
    transition: ease-in 0.1s;
    display: flex;
    justify-content: space-between;
}

.standard-btn
{
    padding: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: gray;
    border: 1px #ccc solid;
}

#index-banner
{
    width: 100%;
    height: 70vh;
    background-image: url("/../inc/hotel2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#banner-title
{
    padding-top: 15vh;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px #040505;
}

#banner-search-form
{
    text-align: center;
}

#search-input
{
    width: 500px;
    border: 3px solid #040505;
    font-size: 2em;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    color: #9DBFAF;
    border-radius: 10px;
}

#search-input:focus
{
    color: #040505;
    border-radius: 10px;
}

#search-submit
{
    background-color: #040505;
    color: #ffffff;
    font-size: 2em;
    border: 0;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid #040505;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    background-color: rgba(0,0,0,0.4);
}

#search-submit:hover
{
    color: #ffffff;
    border: 3px solid #040505;
    background-color: #040505;
}

.hotel-index-div-right
{
    padding-left: 5px;
    text-align: left;
}

.link-to-button
{
    text-decoration: none;
    color: initial;
    border: 0;
    background-color: inherit;
    color: #111111;
    border-radius: 20px;
    padding: 8px;
    transition: ease-in 0.2s;
}

.red-button
{
    background-color: rgb(207, 16, 16);
}

.yellow-button
{
    background-color: rgb(235, 235, 25);
}

.green-button
{
    background-color: rgb(20, 173, 20);
    margin-left: 5px;
}

.blue-button
{
    background-color: rgb(99, 143, 224);
}

.link-to-button:hover
{
    border-radius: 10px;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.price-hotel
{
    color: rgb(26, 184, 26);
}

#capacity-field
{
    width: 60px;
}

.hotel-image
{
    width: 350px;
}

@media only screen and (min-width: 451px) and (max-width: 1450px)
{
    .hotel-index-div
    {
        width: 98%;
        display: flex;
        justify-content: center;
    }

    .hotel-index-div-right
    {
        text-align: left;
        padding-left: 3px;
    }
}

@media only screen and (max-width: 450px)
{
    .hotel-image
    {
        width: 100%;
    }

    #search-input
    {
        width: 98%;
        margin-bottom: 5px;
    }

    .hotel-index-div
    {
        width: 98%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hotel-index-div-right
    {
        text-align: left;
        padding-left: 3px;
        padding: 10px;
    }

    .form-control
    {
        width: 100vw;
    }

    .create-hotel-div
    {
        width: 100%;
    }
}